.fondo {
  min-height: 100vh;
  background-image: url("./img/9230.jpg");
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;
}



h1 {
        font-size: 70px;
        font-family: sans-serif;
        font-style: oblique;
        text-align: center;
        padding: 20px 0 20px 0;
        }

h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px 0 10px 0;
    }



p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 10% 0 10%;
    }

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    }

.css {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 7px;
    }

